[submodule "Whitelist-Server-main/Server Set Up EXE/Scriptable-OpenNetBattle-Server"]
	path = Whitelist-Server-main/Server Set Up EXE/Scriptable-OpenNetBattle-Server
	url = https://github.com/ArthurCose/Scriptable-OpenNetBattle-Server
